@charset "UTF-8";
@media (min-width: 1440px) {
  .width-constraint {
    max-width: 1000px;
  }
}
@media (min-width: 1920px) {
  .width-constraint {
    max-width: 1440px;
  }
}

.block-wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .block-wrapper {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .block-wrapper {
    max-width: 1000px;
    padding: 0;
  }
}
@media (min-width: 1920px) {
  .block-wrapper {
    max-width: 1440px;
  }
}

.no-scroll-y {
  overflow-y: hidden;
  width: calc(100vw - 17px);
}

.page {
  overflow-x: hidden;
}
.page__body {
  font-family: "Montserrat", "Posterama Text", sans-serif;
  background: #F1F1F1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.header__wrapper {
  width: 100vw;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.header--opened .header__wrapper {
  border-radius: 0px 0px 12px 12px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 16px 20px;
}
.header__top__right {
  display: flex;
  align-items: center;
}
.header__top__right a {
  margin-right: 12px;
}
.header__top__right a:last-of-type {
  margin-right: 0;
}
.header__top__left {
  display: flex;
  align-items: center;
}
.header__top__left p {
  display: none;
}
.header__button {
  cursor: pointer;
  width: 28px;
}
.header__button__open {
  width: 28px;
  height: 19px;
}
.header__button__close {
  width: 21px;
  height: 21px;
  display: none;
}
.header--opened .header__button__open {
  display: none;
}
.header--opened .header__button__close {
  display: block;
}
.header__number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #373E46;
  text-decoration: none;
}
.header__request-call {
  display: none;
}
.header__call {
  border-radius: 50%;
  background: #621F2A;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__call img {
  width: 18.33px;
  height: 18.33px;
}
.header__call img:last-child {
  display: none;
}
.header__whatsapp {
  border-radius: 50%;
  background: #621F2A;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__whatsapp img {
  width: 18px;
  height: 18px;
}
.header__down {
  display: none;
}
.header--opened .header__down {
  display: block;
}
.header__list {
  margin-bottom: 40px;
}
.header__list__item a {
  display: block;
  padding: 16px 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #747474;
  background: #FFFFFF;
}
.header__list__item a:hover {
  background: #F1F1F1;
  color: #621F2A;
}
.header__list__item a:active {
  background: #621F2A;
  color: #FFFFFF;
}
.header .socials {
  text-align: center;
}
.header .socials h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #621F2A;
}
.header .socials__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.header .socials__list__item__link {
  display: flex;
  align-items: center;
  color: #373E46;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.header .socials__list__item__link:hover {
  color: #621F2A;
}
.header .socials__list__item__link:hover svg path {
  fill: #621F2A;
}
.header .socials__list__item:last-child .socials__list__item__link:hover svg path {
  stroke: #621F2A;
  fill: none;
}
.header .socials__list__item__icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
.header .socials__list__item:nth-child(1) {
  justify-self: start;
}
.header .socials__list__item:nth-child(2) {
  justify-self: end;
}
.header .socials__list__item:nth-child(3) {
  grid-column: 1/-1;
  justify-self: center;
}
@media (min-width: 768px) {
  .header__top {
    background: white;
    margin-bottom: 0;
  }
  .header__top__right a {
    margin-right: 20px;
  }
  .header__top__right a:last-of-type {
    margin-right: 0;
  }
  .header__top__left {
    display: flex;
    align-items: center;
  }
  .header__top__left p {
    display: block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #373E46;
    margin-left: 12px;
  }
  .header__button {
    width: 20.8px;
  }
  .header__button__close {
    width: 16px;
    height: 16px;
  }
  .header__button__open {
    width: 20.8px;
    height: 14.4px;
    margin-bottom: -2px;
  }
  .header__request-call {
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    background: #621F2A;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-radius: 51px;
    box-shadow: 0px 4px 12px rgba(98, 31, 42, 0.2);
    transition: all 300ms ease-out;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 32px !important;
    font-size: 12px;
    line-height: 15px;
  }
  .header__request-call:hover {
    background: #822736;
  }
  .header__request-call:active {
    background: #621F2A;
    box-shadow: 4px 4px 10px rgba(98, 31, 42, 0.15), 0px 4px 12px rgba(98, 31, 42, 0.2), inset -6px -6px 8px rgba(98, 31, 42, 0.1);
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .header__request-call {
    font-size: 18px;
    line-height: 22px;
    padding: 20px 12px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .header__request-call {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .header__call, .header__whatsapp {
    width: 36px;
    height: 36px;
  }
  .header__call img, .header__whatsapp img {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 768px) {
  .header__top__right .header__whatsapp:last-child {
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .header__call {
    order: 3;
    margin-right: 0 !important;
  }
  .header__call img {
    display: none;
  }
  .header__call img:last-child {
    display: block;
  }
}
@media (min-width: 768px) {
  .header .socials {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__list__item a {
    padding: 16px 32px 16px 56px;
  }
  .header__list__item:first-child a {
    padding-top: 24px;
  }
  .header__list__item:last-child a {
    padding-bottom: 24px;
    border-radius: 0px 0px 12px 12px;
  }
}
@media (min-width: 768px) {
  .header__wrapper {
    box-shadow: none;
    background: none;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  }
}
@media (min-width: 768px) {
  .header__down {
    width: fit-content;
    border-radius: 0px 0px 12px 12px;
  }
}
@media (min-width: 768px) {
  .header nav {
    width: fit-content;
  }
}
@media (min-width: 1440px) {
  .header__desctop-bg {
    background: #FFFFFF;
    height: 81px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  }
  .header__wrapper {
    filter: none;
    position: relative;
  }
  .header__inner-wrapper {
    margin: 0 auto;
    padding-right: 16px;
  }
  .header__down {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
  }
  .header__top {
    padding: 20px 0;
    background: none;
  }
  .header__top__left p {
    font-size: 16px;
    line-height: 20px;
  }
  .header__whatsapp, .header__call {
    width: 40px;
    height: 40px;
  }
  .header__whatsapp img, .header__call img {
    width: 22px;
    height: 22px;
  }
  .header__request-call {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (min-width: 1920px) {
  .header__desctop-bg {
    height: 116px;
  }
  .header__inner-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__wrapper {
    padding: 0 40px;
  }
  .header__request-call {
    font-size: 16px;
    line-height: 20px;
  }
  .header__call, .header__whatsapp {
    display: none;
  }
  .header__top__right {
    display: block;
    text-align: center;
  }
  .header__top__right a {
    margin-right: 0;
  }
  .header__top__left {
    display: none;
  }
  .header__down {
    padding: 20px 0;
    display: block;
    order: -1;
    background: none;
    box-shadow: none;
    display: flex;
    align-items: center;
  }
  .header__number {
    margin-bottom: 12px;
    display: block;
    font-size: 16px;
    line-height: 20px;
  }
  .header__list {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .header__list__item {
    margin-right: 40px;
  }
  .header__list__item a {
    font-size: 16px;
    line-height: 20px;
    padding: 0px !important;
    background: none !important;
    border-radius: 0;
  }
  .header__list__item a:hover {
    color: #621F2A;
  }
  .header__list__item:last-of-type {
    margin-right: 0;
  }
}

.promo {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-top: 0px !important;
}
@media (min-width: 768px) {
  .promo {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .promo {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}
.promo__text {
  background: rgba(55, 62, 70, 0.3);
  border-radius: 20px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}
.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 180px;
  background-image: url("../../images/bg-1-m.png");
  min-height: 465px;
  background-repeat: no-repeat;
  background-position: center;
}
.promo__title {
  font-family: "Posterama Text", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFF0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 48px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    font-size: 110px;
  }
}
.promo__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFF0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.promo__socials {
  margin: 0 auto;
  margin-bottom: -24px;
}
.promo__socials__list {
  margin: 0 auto;
  display: flex;
  border-radius: 12px;
  height: 48px;
  background: #621F2A;
}
.promo__socials__list__item__link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 22px;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
  border-radius: 12px;
}
.promo__socials__list__item__link span {
  display: none;
}
.promo__socials__list__item__link svg path {
  fill: #FFFFFF;
}
.promo__socials__list__item__link:hover {
  background: #FFFFFF;
}
.promo__socials__list__item__link:hover svg path {
  fill: #621F2A;
}
.promo__down {
  display: none;
}
@media (min-width: 768px) {
  .promo__down {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  .promo__down__icon {
    display: none;
  }
  .promo__down__icon--m {
    display: block;
  }
  .promo__down__icon circle {
    transition: fill 300ms ease-in-out;
  }
  .promo__down:hover svg circle {
    fill: rgba(255, 255, 255, 0.3);
  }
  .promo__subtitle {
    font-size: 22px;
    line-height: 27px;
  }
  .promo__wrapper {
    background: url("../../images/bg-1-m.png");
    padding-top: 165px;
    background-size: cover;
  }
}
@media (min-width: 1024px) {
  .promo__wrapper {
    min-height: 637px;
    background: url("../../images/bg-1.png");
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1440px) {
  .promo {
    background: url("../../images/bg-1.png");
    background-position: center;
    background-size: cover;
  }
  .promo__wrapper {
    min-height: 837px;
    padding-top: 228px;
    margin: 0 auto;
    background: none;
  }
  .promo__title, .promo__subtitle {
    text-align: start;
  }
  .promo__text {
    padding: 40px;
    width: fit-content;
    transform: translateX(-106px);
  }
  .promo__title {
    margin-bottom: 50px;
  }
  .promo__subtitle br {
    display: none;
  }
  .promo__down {
    right: 0;
    bottom: 40px;
  }
  .promo__down__icon {
    display: block;
  }
  .promo__down__icon--m {
    display: none;
  }
  .promo__socials__list {
    height: 72px;
    border-radius: 20px;
  }
  .promo__socials__list__item__link {
    border-radius: 20px;
    padding: 20px 32px;
  }
  .promo__socials__list__item__link:hover {
    border-radius: 20px;
  }
  .promo__socials__list__item__link:hover span {
    color: #621F2A;
  }
  .promo__socials__list__item__link span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: block;
  }
  .promo__socials__list__item__link svg {
    width: 32px;
    height: 32px;
    margin-right: 14.67px;
  }
}

.vidgets {
  pointer-events: none;
  position: fixed;
  bottom: 200px;
  right: 20px;
  z-index: 4;
}
@media (max-width: 767.5px) {
  .vidgets {
    display: none;
  }
}
.vidgets--hover {
  pointer-events: all;
}
.vidgets__button {
  margin-left: 12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #621F2A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vidgets .contact {
  position: relative;
}
.vidgets .contact__main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  padding-top: 20px;
}
.vidgets .contact__main:hover .contact__text {
  color: #621F2A;
}
.vidgets .contact__list {
  position: absolute;
  bottom: 100%;
  right: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.vidgets .contact__list__item {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 20px;
}
.vidgets .contact__list__item:last-of-type {
  margin-bottom: 0;
}
.vidgets .contact__list__item:hover span {
  color: #621F2A;
}
.vidgets .contact__list__item span {
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #373E46;
  position: absolute;
  right: 100%;
}
.vidgets .contact__list__item__link img {
  width: 18px;
  height: 18px;
}
.vidgets .contact--visible .contact__list {
  opacity: 1;
}
.vidgets .contact--visible .contact__text {
  opacity: 1;
  transform: translateX(0);
}
.vidgets .contact__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #373E46;
  transition: all 300ms ease-in-out;
  opacity: 0;
  transform: translateX(60px);
}
.vidgets .contact__text__wrapper {
  cursor: pointer;
  overflow: hidden;
}
.vidgets .calculate {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.vidgets .calculate--visible .calculate__text {
  opacity: 1;
  transform: translateX(0);
}
.vidgets .calculate:hover .calculate__text {
  color: #621F2A;
}
.vidgets .calculate__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #373E46;
  opacity: 0;
  transform: translateX(30px);
  transition: all 300ms ease-in-out;
}
.vidgets .calculate__text__wrapper {
  overflow: hidden;
}
.vidgets .calculate__button img {
  width: 18px;
  height: 18px;
}
@media (min-width: 1024px) {
  .vidgets {
    bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .vidgets {
    bottom: 200px;
  }
  .vidgets__button {
    width: 60px;
    height: 60px;
  }
  .vidgets .contact__main img {
    width: 24px;
    height: 24px;
  }
  .vidgets .contact__text {
    font-size: 16px;
    line-height: 20px;
  }
  .vidgets .contact__list__item img {
    width: 24px;
    height: 24px;
  }
  .vidgets .contact__list__item span {
    font-size: 16px;
    line-height: 20px;
  }
  .vidgets .calculate__text {
    font-size: 16px;
    line-height: 20px;
  }
}

.advantages {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .advantages {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}
.advantages__title {
  font-family: "Posterama Text", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.01em;
  /* Primary Black */
  color: #373E46;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 36px;
    line-height: 100%;
  }
}
@media (min-width: 1440px) {
  .advantages__title {
    font-size: 64px;
  }
}
.advantages__list__item {
  padding: 20px;
  background: #FBFBFB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 20px;
}
.advantages__list__item:last-of-type {
  margin-bottom: 0;
}
.advantages__list__item__title {
  margin-top: 20px;
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* Primary Black */
  color: #373E46;
}
@media (min-width: 1440px) {
  .advantages__list__item__title {
    font-size: 18px;
    line-height: 22px;
  }
}
.advantages__list__item__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #747474;
}
@media (min-width: 1440px) {
  .advantages__list__item__description {
    font-size: 18px;
    line-height: 140%;
  }
}
@media (min-width: 768px) {
  .advantages__title {
    margin-bottom: 60px;
  }
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }
  .advantages__list__item {
    width: 31.39%;
    padding: 20px 20px 40px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    margin: 0 auto;
  }
  .advantages__title {
    margin-bottom: 80px;
    position: relative;
  }
  .advantages__title::before {
    content: "Преимущества";
    position: absolute;
    font-family: "Posterama Text";
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 100%;
    opacity: 0.1;
    letter-spacing: 0.1em;
    color: #373E46;
    bottom: -100px;
    left: 40px;
  }
  .advantages__list {
    z-index: 1;
    position: relative;
    padding: 32px 60px;
    background: #FBFBFB;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .advantages__list__item {
    padding: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 280px;
  }
}
@media (min-width: 1920px) {
  .advantages__title {
    margin-bottom: 140px;
  }
  .advantages__title::before {
    font-size: 170px;
    line-height: 100%;
    bottom: -153px;
    left: 0;
  }
  .advantages__list__item {
    width: 300px;
  }
}

@keyframes ballDisolve {
  20% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(2.25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.25);
  }
}
.project {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .project {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .project {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}
.project__title {
  font-family: "Posterama Text", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.01em;
  /* Primary Black */
  color: #373E46;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .project__title {
    font-size: 36px;
    line-height: 100%;
  }
}
@media (min-width: 1440px) {
  .project__title {
    font-size: 64px;
  }
}
.project__list__item {
  margin-bottom: 40px;
}
.project__list__item:nth-child(1) .project__ball {
  bottom: 48px;
  left: 87px;
}
.project__list__item:nth-child(2) .project__ball {
  bottom: 108px;
  left: 110px;
}
.project__list__item:nth-child(2) .project__ball:after {
  animation-delay: 200ms;
}
.project__list__item:nth-child(3) .project__ball {
  bottom: 123px;
  left: 33px;
}
.project__list__item:nth-child(3) .project__ball::after {
  animation-delay: 200ms;
}
.project__list__item__picture {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.project__list__item__picture::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity ease-out 300ms;
  background: rgba(55, 62, 70, 0.5);
}
.project__list__item__picture:hover::after {
  opacity: 1;
}
.project__list__item__picture__wrapper {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
}
.project__list__item__picture__wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -10px;
  border-radius: 20px;
  background: #621F2A;
}
.project__list__item__picture img {
  width: 100%;
  transform: scaleY(1.025);
  transition: transform ease-out 300ms;
  position: relative;
}
.project__list__item__picture img:hover {
  transform: scale(1.17);
}
.project__list__item__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* Primary Black */
  color: #373E46;
  margin: 30px 0 20px;
}
@media (min-width: 1440px) {
  .project__list__item__title {
    font-size: 24px;
    line-height: 29px;
  }
}
.project__list__item__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #747474;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .project__list__item__description {
    font-size: 18px;
    line-height: 140%;
  }
}
.project__list__item__link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #621F2A;
  position: relative;
  display: block;
  width: fit-content;
  padding-bottom: 1.5px;
}
.project__list__item__link::after {
  content: "";
  position: absolute;
  right: -36px;
  background: url(../../images/icons/pointer.svg);
  width: 24px;
  height: 13px;
  top: 2px;
}
.project__list__item__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 0;
  width: 0px;
  opacity: 0;
  transition: opacity 400ms ease-in-out, width 400ms ease-in-out;
  background: #621F2A;
}
.project__list__item__link:hover::before {
  width: 42px;
  opacity: 1;
}
@media (min-width: 768px) {
  .project__list__item__link {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 2px;
  }
  .project__list__item__link::after {
    top: 3.5px;
  }
  .project__list__item__link:hover::before {
    width: 48px;
  }
}
@media (min-width: 1440px) {
  .project__list__item__link {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 3px;
  }
  .project__list__item__link::after {
    right: -55px;
    width: 30px;
    height: 15.4px;
    background-size: 30px 15.4px;
    top: 2.85px;
  }
  .project__list__item__link:hover::before {
    width: 55px;
  }
}
.project__ball {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 50%;
  position: relative;
  pointer-events: none;
  position: absolute;
  z-index: 3;
}
.project__ball::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transform-origin: center;
  width: 32px;
  height: 32px;
  animation: ballDisolve 1400ms ease-out 0ms infinite;
}
.project__button {
  padding: 16px 8px;
  display: flex;
  justify-content: center;
  background: #621F2A;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border-radius: 51px;
  box-shadow: 0px 4px 12px rgba(98, 31, 42, 0.2);
  transition: all 300ms ease-out;
  max-width: 280px;
  margin: 0 auto;
}
.project__button:hover {
  background: #822736;
}
.project__button:active {
  background: #621F2A;
  box-shadow: 4px 4px 10px rgba(98, 31, 42, 0.15), 0px 4px 12px rgba(98, 31, 42, 0.2), inset -6px -6px 8px rgba(98, 31, 42, 0.1);
}
@media (min-width: 1440px) {
  .project__button {
    font-size: 18px;
    line-height: 22px;
    padding: 20px 12px;
  }
}
@media (min-width: 768px) {
  .project__title {
    margin-bottom: 60px;
  }
  .project__list {
    display: flex;
    justify-content: space-between;
  }
  .project__list__item {
    width: 31.39%;
    margin-bottom: 60px;
  }
  .project__list__item__picture__wrapper {
    max-width: fit-content;
  }
  .project__list__item__title {
    margin: 20px 0;
  }
  .project__list__item:nth-child(1) .project__ball {
    bottom: 39px;
    left: 62px;
  }
  .project__list__item:nth-child(2) .project__ball {
    bottom: 86px;
    left: 83px;
  }
  .project__list__item:nth-child(3) .project__ball {
    bottom: 110px;
    left: 20px;
  }
}
@media (min-width: 1440px) {
  .project__wrapper {
    margin: 0 auto;
  }
  .project__title {
    margin-bottom: 80px;
  }
  .project__list {
    background: url(../../../images/bg-lines.svg) no-repeat;
    background-position-x: -0.5px;
  }
  .project__list__item {
    padding: 40px 0;
    width: 30.6%;
    margin-bottom: 80px;
  }
  .project__list__item:nth-child(1) .project__ball {
    bottom: 73px;
    left: 100px;
  }
  .project__list__item:nth-child(2) .project__ball {
    bottom: 119px;
    left: 123px;
  }
  .project__list__item:nth-child(3) .project__ball {
    bottom: 139px;
    left: 33px;
  }
  .project__list__item__picture__wrapper::after {
    right: -10px;
  }
  .project__list__item__title {
    margin-top: 50px;
  }
  .project__button {
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    background: #621F2A;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-radius: 51px;
    box-shadow: 0px 4px 12px rgba(98, 31, 42, 0.2);
    transition: all 300ms ease-out;
    background: #FFFFFF;
    border: 2px solid #621F2A;
    color: #621F2A;
    filter: drop-shadow(0px 4px 12px rgba(98, 31, 42, 0.2));
  }
  .project__button:hover {
    background: #822736;
  }
  .project__button:active {
    background: #621F2A;
    box-shadow: 4px 4px 10px rgba(98, 31, 42, 0.15), 0px 4px 12px rgba(98, 31, 42, 0.2), inset -6px -6px 8px rgba(98, 31, 42, 0.1);
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .project__button {
    font-size: 18px;
    line-height: 22px;
    padding: 20px 12px;
  }
}
@media (min-width: 1440px) {
  .project__button:hover {
    box-shadow: 0px 4px 8px rgba(98, 31, 42, 0.1);
    color: white;
    border-color: #822736;
  }
}
@media (min-width: 1440px) {
  .project__button:active {
    box-shadow: 4px 4px 10px rgba(98, 31, 42, 0.15), 0px 4px 12px rgba(98, 31, 42, 0.2), inset -6px -6px 8px rgba(98, 31, 42, 0.1);
  }
}
@media (min-width: 1920px) {
  .project__list {
    background: url(../../../images/bg-lines-2.svg) no-repeat;
    background-position-x: -1px;
  }
  .project__list__item {
    padding: 105px 0 156px;
    width: 28.47%;
  }
}

.stages {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .stages {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .stages {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}
.stages__title {
  margin-bottom: 40px;
  font-family: "Posterama Text", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.01em;
  /* Primary Black */
  color: #373E46;
}
@media (min-width: 768px) {
  .stages__title {
    font-size: 36px;
    line-height: 100%;
  }
}
@media (min-width: 1440px) {
  .stages__title {
    font-size: 64px;
  }
}
.stages__title--desctop {
  display: none;
}
.stages__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}
.stages__top__item--dec {
  width: 20px;
  height: 1px;
  background: #373E46;
}
.stages__top__item:hover .stages__top__item__circle {
  background: #FFFFFF;
  border-color: #747474;
  color: #747474;
}
.stages__top__item:hover .stages__top__item p {
  color: #747474;
}
.stages__top__item--active .stages__top__item__circle {
  color: #373E46;
  color: #FFFFFF;
  background: #621F2A;
  border-color: #621F2A;
}
.stages__top__item--active .stages__top__item p {
  color: #373E46;
}
.stages__top__item__circle {
  width: 36px;
  height: 36px;
  border: 1px solid #373E46;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  background: #FFFFFF;
  border-color: #373E46;
}
.stages__top__item p {
  display: none;
}
.stages__slider-wrapper {
  padding: 20px;
  min-height: 575px;
  background: url(../../images/stages-bg.png) no-repeat;
  background-size: 768px calc(100% + 20px);
  background-position: center;
  position: relative;
}
.stages__item {
  padding: 20px;
  backdrop-filter: blur(2px);
  border-radius: 12px;
  background: rgba(55, 62, 70, 0.6);
}
.stages__item__title {
  margin-bottom: 20px;
  font-family: "Posterama Text";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media (min-width: 1440px) {
  .stages__item__title {
    font-size: 36px;
    line-height: 43px;
  }
}
.stages__item__text {
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.stages__item__text:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 1440px) {
  .stages__item__text {
    font-size: 18px;
    line-height: 140%;
  }
}
.stages .slider {
  min-height: 535px;
}
.stages .slider__items {
  transition: none;
}
.stages .slider__indicators {
  bottom: 0px;
  left: calc(50% - 52px);
  margin: 0;
  width: 104px;
  display: flex;
  justify-content: space-between;
}
.stages .slider__indicators li {
  cursor: pointer;
  width: 20px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.stages .slider__indicators li:hover {
  background: rgba(255, 255, 255, 0.5);
}
.stages .slider__indicators li.active {
  background: #FFFFFF;
}
@media (min-width: 768px) {
  .stages__title {
    margin-bottom: 60px;
    display: none;
  }
  .stages__title--desctop {
    display: block;
    width: 100%;
  }
  .stages__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
  }
  .stages__wrapper > div {
    padding: 0;
  }
  .stages__wrapper > div:first-of-type {
    width: 36.45%;
  }
  .stages__wrapper > div:last-child {
    width: 50.52%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-width: 610px;
  }
  .stages__top {
    flex-direction: column;
    align-items: flex-start;
    height: 328px;
  }
  .stages__top__item a {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .stages__top__item--dec {
    width: 1px;
    height: 20px;
    margin-left: 19.5px;
  }
  .stages__top__item p {
    display: block;
    margin-left: 12px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #373E46;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .stages__top__item p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .stages__top__item p {
    font-size: 18px;
    line-height: 140%;
  }
}
@media (min-width: 768px) {
  .stages__top__item:hover p {
    color: #747474;
  }
}
@media (min-width: 768px) {
  .stages__top__item--active p {
    color: #621F2A;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .stages__slider-wrapper {
    min-height: 462px;
    background-size: 630px calc(100% + 20px);
    background-position-x: 45%;
  }
}
@media (min-width: 768px) {
  .stages .slider {
    min-height: 422px;
  }
}
@media (min-width: 1440px) {
  .stages__wrapper {
    padding: 0px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .stages__wrapper > div:first-of-type {
    width: 27.6%;
  }
  .stages__wrapper > div:last-child {
    width: 70.4%;
    max-width: fit-content;
    padding: 0;
  }
  .stages__title {
    margin-bottom: 80px;
  }
  .stages__item {
    width: 76.2%;
    margin-left: auto;
    min-height: 562px;
    border-radius: 0px 20px 20px 0px;
    padding: 40px;
    position: relative;
    padding-right: 108px;
  }
  .stages__top {
    height: 339px;
  }
  .stages__top__item__circle {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 100%;
    flex-shrink: 0;
  }
  .stages .slider {
    min-height: 562px;
  }
  .stages .slider__indicators {
    display: none;
  }
  .stages .slider__item {
    width: 100%;
  }
  .stages .slider__control {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 80px;
    background: url(../../images/icons/slider-next.svg) no-repeat;
    background-position: 20px 161px;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
  }
  .stages .slider__control[data-slide=next] {
    transform: rotateY(0deg);
    background-position: calc(100% - 20px) 161px;
    left: unset;
    right: 0px;
  }
  .stages__slider-wrapper {
    min-height: 562px;
    background-size: calc(100% + 20px) calc(100% + 20px) !important;
    background-position: center center;
  }
}
@media (min-width: 1920px) {
  .stages__wrapper {
    max-width: 1440px;
  }
  .stages__wrapper > div:first-of-type {
    width: 23.61%;
  }
  .stages__wrapper > div:last-child {
    width: 75%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .stages__slider-wrapper {
    background: url(../../images/stages-bg-d.png) no-repeat;
    background-position: calc(50% - 1px) 50%;
    min-height: 447px;
  }
  .stages .slider {
    min-height: 447px;
  }
  .stages .slider__item {
    padding: 0 1px;
  }
  .stages .slider__control {
    background-position-y: 123.5px !important;
  }
  .stages__item {
    min-height: 447px;
    width: 60.18%;
  }
}

.calc {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .calc {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .calc {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}
.calc__title {
  margin-bottom: 40px;
  font-family: "Posterama Text", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.01em;
  /* Primary Black */
  color: #373E46;
}
@media (min-width: 768px) {
  .calc__title {
    font-size: 36px;
    line-height: 100%;
  }
}
@media (min-width: 1440px) {
  .calc__title {
    font-size: 64px;
  }
}
.calc__description {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #373E46;
}
.calc__description:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 1440px) {
  .calc__description {
    font-size: 18px;
    line-height: 140%;
  }
}
@media (min-width: 1440px) {
  .calc__description {
    font-size: 24px;
    line-height: 140%;
  }
}
.calc__form-wrapper {
  margin-top: 40px;
  background: #FBFBFB;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
.calc__picture {
  border-radius: 12px 12px 0 0;
  height: 210px;
  background: url(../../images/calc-m.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.calc__form {
  padding: 40px 20px;
}
.calc__form__group {
  margin-bottom: 40px;
}
.calc__form__group:last-of-type {
  margin-bottom: 60px;
}
.calc__form__group__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #373E46;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .calc__form__group__title {
    font-size: 24px;
    line-height: 29px;
  }
}
.calc__form__submit {
  padding: 16px 8px;
  display: flex;
  justify-content: center;
  background: #621F2A;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border-radius: 51px;
  box-shadow: 0px 4px 12px rgba(98, 31, 42, 0.2);
  transition: all 300ms ease-out;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: center;
}
.calc__form__submit:hover {
  background: #822736;
}
.calc__form__submit:active {
  background: #621F2A;
  box-shadow: 4px 4px 10px rgba(98, 31, 42, 0.15), 0px 4px 12px rgba(98, 31, 42, 0.2), inset -6px -6px 8px rgba(98, 31, 42, 0.1);
}
@media (min-width: 1440px) {
  .calc__form__submit {
    font-size: 18px;
    line-height: 22px;
    padding: 20px 12px;
  }
}
.calc__form__contact {
  padding: 16px 8px;
  display: flex;
  justify-content: center;
  background: #621F2A;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border-radius: 51px;
  box-shadow: 0px 4px 12px rgba(98, 31, 42, 0.2);
  transition: all 300ms ease-out;
  background: #FFFFFF;
  border: 2px solid #621F2A;
  color: #621F2A;
  filter: drop-shadow(0px 4px 12px rgba(98, 31, 42, 0.2));
}
.calc__form__contact:hover {
  background: #822736;
}
.calc__form__contact:active {
  background: #621F2A;
  box-shadow: 4px 4px 10px rgba(98, 31, 42, 0.15), 0px 4px 12px rgba(98, 31, 42, 0.2), inset -6px -6px 8px rgba(98, 31, 42, 0.1);
}
@media (min-width: 1440px) {
  .calc__form__contact {
    font-size: 18px;
    line-height: 22px;
    padding: 20px 12px;
  }
}
.calc__form__contact:hover {
  box-shadow: 0px 4px 8px rgba(98, 31, 42, 0.1);
  color: white;
  border-color: #822736;
}
.calc__form__contact:active {
  box-shadow: 4px 4px 10px rgba(98, 31, 42, 0.15), 0px 4px 12px rgba(98, 31, 42, 0.2), inset -6px -6px 8px rgba(98, 31, 42, 0.1);
}
.calc__input {
  margin-bottom: 20px;
  cursor: pointer;
}
.calc__input__label {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* Primary Black */
  color: #373E46;
}
@media (min-width: 1440px) {
  .calc__input__label {
    font-size: 18px;
    line-height: 22px;
  }
}
.calc__input__label span {
  color: #747474;
  font-weight: 400;
}
.calc__input__label:hover span {
  color: #373E46;
}
.calc__input__radio {
  display: none;
}
.calc__input__radio:checked ~ span {
  font-weight: 600;
  color: #621F2A;
}
.calc__input__radio:checked ~ .calc__input__radio-custom {
  border: 6px solid #621F2A !important;
}
.calc__input:hover .calc__input__radio-custom {
  border-color: #373E46;
}
.calc__input__radio-custom {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #747474;
}
@media (min-width: 768px) {
  .calc__title {
    margin-bottom: 60px;
  }
  .calc__description {
    margin-bottom: 15px;
  }
  .calc__picture {
    height: 260px;
    background: url(../../images/calc-t.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .calc__form {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .calc__form__group {
    margin-bottom: 0;
  }
  .calc__form__group:last-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .calc__form__group:last-of-type .calc__form__group__title {
    width: 100%;
  }
  .calc__form__submit {
    width: 48.35%;
    margin-bottom: 0;
  }
  .calc__form__contact {
    width: 48.35%;
  }
  .calc__input:last-of-type {
    margin-bottom: 0;
  }
  .calc__form-wrapper {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 1440px) {
  .calc__wrapper {
    margin: 0 auto;
  }
  .calc__title {
    margin-bottom: 80px;
  }
  .calc__description {
    margin-top: 15px;
  }
  .calc__form-wrapper {
    margin-top: 80px;
    display: flex;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
  }
  .calc__form {
    padding: 60px;
    width: 78.18%;
  }
  .calc__form__group {
    width: 43.84%;
  }
  .calc__form__group:first-of-type {
    margin-bottom: 60px;
  }
  .calc__form__group:last-of-type {
    width: 43.84%;
    display: block;
  }
  .calc__form__group:nth-child(3) {
    order: 4;
  }
  .calc__form__group__title {
    margin-bottom: 40px;
  }
  .calc__form__submit {
    width: 46.65%;
    order: 5;
  }
  .calc__form__contact {
    width: 46.65%;
    order: 6;
  }
  .calc__picture {
    width: 28.2%;
    min-height: 668px;
    background: url(../../images/calc-d.png) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px 0 0 40px;
  }
}
@media (min-width: 1920px) {
  .calc__picture {
    width: 27.77%;
    min-height: 556px;
  }
  .calc__form {
    width: 72.22%;
    justify-content: start;
  }
  .calc__form__group {
    margin-right: 80px;
    width: fit-content;
  }
  .calc__form__group:nth-child(3) {
    margin-right: 0;
    order: 3;
  }
  .calc__form__group:nth-child(4) {
    width: 100%;
    order: 4;
    display: flex;
  }
  .calc__form__submit, .calc__form__contact {
    width: 298px;
  }
  .calc__form__submit {
    margin-right: 40px;
  }
}
/*# sourceMappingURL=maps/style.css.map */
