.page{
  overflow-x: hidden;
  scroll-behavior: smooth;
  &__body{
    font-family: 'Montserrat','Posterama Text', sans-serif;
    background: $bgWhite;
    a.anchor {
      display: block;
      position: relative;
      top: -100px;
      visibility: hidden;
      @media(min-width: 1920px){
        top: -150px;
      }
  }
  }


  .no-scroll-y {
    .vidgets {
      right: 36.5px
    }
  }
}
